* {
    box-sizing: border-box
}

.tab {
    float: left;
    background: #4f0113;
    width: 30%;
    height: 300px;
}

.message-friend li:last-child form.d-inline-block button {
    background: none;
    border: 0;
}

.message-friend li:last-child button {
    background: none;
    border: none;
}

.message-friend li:last-child form {
    margin-bottom: 0;
}

.message-friend.message-friend2 img {
    width: 45px !important;
    height: 45px !important;
    border: 2px solid #dcdcdc;
    border-radius: 50px;
    margin-right: 10px;
}

span.messonep {
    float: left;
    text-align: left;
    background: #f5e4e7;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    max-width: 80%;
    background: #fff;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 10px;
    border-radius: 3px;
    border: 1px solid #f1eeee;
}

span.messtwop {
    display: block;
    float: right;
    text-align: right;
    font-size: 16px;
    width: 70%;
    line-height: 24px;
    border-radius: 3px;
}

.b-chats__conversations-content.m-empty-chat.onlychat {
    overflow-y: scroll;
    height: 54rem;
}

.charemessingarea {
    width: 100%;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.b-chats__conversations-content.m-empty-chat.onlychat {
    padding-top: 0px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #720c25;
}

input:focus+.slider {
    box-shadow: 0 0 1px #720c25;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background: rgb(114, 12, 37);
}


/* Create an active/current "tab button" class */

.tab button.active {
    background: rgb(114, 12, 37);
    /* Old browsers */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#744018', endColorstr='#fae16a', GradientType=1);
    /* IE6-9 */
}


/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
}

div.scroll {
    width: 1000px;
    /*  height: 500px;*/
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.home-pagearea .middle-sidebar-left .tab button.tablinks {
    padding: 5px 10px;
    border-bottom: 1px solid #720c25;
}

.home-pagearea .form-control {
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

form#imageUploadForm {
    max-width: 200px;
    margin: 0px auto;
    text-align: center;
}

.editprofile figure.avatar.position-absolute.w100.z-index-1 {
    margin: 20px auto !important;
    left: 0;
    right: 0;
}

.editprofile .modal-content {
    background: rgba(0, 0, 0);
    padding: 30px 30px 0 30px;
}

.editprofile .modal-content button.close {
    background: #fff;
    opacity: 10;
    line-height: 27px;
}

.editprofile .modal-content input[type=file] {
    color: #fff;
}

.editprofile .modal-content figure.avatar.position-absolute.w100.z-index-1 img {
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
}

.editprofile .modal-footer ul {
    display: flex;
    float: left;
    position: relative;
    left: 0;
}

.editprofile .modal-footer ul li {
    float: left;
    text-align: left;
    margin-right: 40px;
}

.editprofile .modal-footer ul li a {
    color: #fff;
    text-align: center;
}

.editprofile .modal-footer ul li a i {
    display: block;
}

.editprofile .modal-footer {
    float: left !important;
    display: block;
}

.editprofile .file,
.editprofile .file label {
    text-align: center;
    color: #fff !important;
    margin: 10px auto;
    font-size: 24px;
}

.editprofile .file label i {
    margin-right: 10px;
}

.editprofile .modal-footer button.btn.btn-info {
    background: rgb(114, 12, 37);
    background: -moz-linear-gradient(left, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    background: linear-gradient(to right, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#720c25', endColorstr='#4d0012', GradientType=1);
    border: none;
    font-size: 16px;
    text-transform: capitalize;
}

.editprofile .modal-footer button.btn.btn-danger {
    background: #fff;
    border: none;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
}

.message-friend.message-friend2 li:nth-child(odd) {
    /*    max-width: 80%;
    float: right;*/
    width: 100%;
}

.message-friend.message-friend2 {
    border: none;
    display: inherit;
    padding: 2px 0;
    list-style: none;
}

.message-friend.message-friend2.from span.messtwop {
    background: #f5e4e7;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 10px;
    border-radius: 3px;
    color: #000;
    max-width: 80%;
    text-align: left;
    margin: 5px 0 5px 0;
}

.message-friend.message-friend2 li:nth-child(even) {
    /*   max-width: 80%;*/
    float: right;
    width: 100%;
}

.message-friend.message-friend2.to,
.message-friend.message-friend2.to {
    float: left;
    width: 100%;
    list-style: none !important;
}

.message-friend.message-friend2.to {
    float: right !important;
    width: 100%;
    list-style: none;
}

.message-friend.message-friend2 li:nth-child(even) span.messtwop {
    background: #f1f1f1;
    width: auto;
    padding: 2px 10px;
    color: #000;
}

.msgmsg {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

p.messtime {
    font-size: 12px !important;
    margin-bottom: 0;
    float: left;
    font-weight: normal;
    width: 100%;
    text-align: right;
}

p.messtime.messtwoptime {
    float: right;
    text-align: right;
}

.b-chats__conversations-content.m-empty-chat.onlychat {
    position: fixed;
    bottom: 0;
    /* margin-bottom: 100px; */
    top: 20%;
    right: 0;
    width: 40%;
    padding-bottom: 95px;
    overflow: hidden;
}

.chat-typearea {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    border-top: 1px solid #f1f1f1;
    right: 17px;
    width: 37.7%;
    background: #fff;
}

.chat-typearea textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.chat-typearea button.form-control {
    background: rgb(114, 12, 37);
    background: -moz-linear-gradient(left, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    background: linear-gradient(to right, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
}

.buttonarea ul {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0;
    min-width: 75%;
}

.buttonarea ul li i.fa.fa-dollar {
    border: 2px solid #252525;
    padding: 5px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    line-height: 10px;
    color: #252525;
}

.buttonarea {
    display: flex;
    padding: 5px 0;
}

.buttonarea ul li .file label {
    display: flex;
}

.buttonarea button.form-control {
    background: rgb(114, 12, 37);
    background: -moz-linear-gradient(left, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    background: linear-gradient(to right, rgba(114, 12, 37, 1) 1%, rgba(77, 0, 18, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#720c25', endColorstr='#4d0012', GradientType=1);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    color: #fff;
    line-height: inherit;
}

p.tt {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    color: #ccc !important;
    border-bottom: 1px solid #f5f1f1;
    text-align: center !important;
    clear: both;
}


/*---*/

.conversations-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.right-side.messagearea .b-chats__conversations-content.m-empty-chat .conversations-start__title {
    width: 100%;
    max-width: 800px;
    height: calc(69vh - 47px);
    min-height: 100%;
    padding: 15px 30px;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: #fff;
}

.right-side.messagearea .b-chats__conversations-content.m-empty-chat .conversations-start__title>ul.message-friend.message-friend2.to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.cardseperatore .responsecomment2.responsecomment_clike {
    float: left;
}
.cardseperatore .responsecomment2.responsecomment_clike h4 {
    font-size: 14px;
    font-weight: bold;
}